<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div>
      <% for (const vote of votes) { %>
        <div class="voteInfo" onclick="location.href='/votings/<%= vote._id %>'",>
          <span><%= vote.title %></spn>
          <span><%= vote.creatorEmail %></span>
          <span><%= vote.expiredTime %></span>
          <span><%= vote.isFinished %></span>
        </div>
      <% } %>
    </div>
    <div>
      <button
        onclick="location.href='/votings/new';",
      >
        투표생성
      </button>
    </div>
  </body>
  <script type="text/javascript">

  </script>
</html>
