<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
  </head>
  <body>
    <header>
      <% if (user) { %>
        <div class="left">
          <h2><%= user.name %></h2><span> 님 환영합니다</span>
        </div>
        <div class="right">
          <a href="/logout">로그아웃</a>
          <a href="/my-votings">마이페이지</a>
          <a href="/votings/new">투표생성</a>
        </div>
      <% } else { %>
        <div class="left">
          <a href="/votings/new">투표생성</a>
        </div>
      <% } %>
      <div class="clear"></div>
      <div class="line">
        <hr />
      </div>
    </header>
    <div class="container">
      <% if (votes) { %> 
        <% if (!votes.length) { %>
          <div>
            <p>등록된 투표가 없습니다</p>
          </div>
        <% } %>
        <% for (const vote of votes) { %>
          <div class="content" onclick="location.href='/votings/<%= vote._id %>'">
            <h1><%= vote.title %></h1>
            <p>작성자 : <%= vote.creatorName %></p>
            <p>투표 마감시간 : <%= vote.expiredTime %></p>
            <p><%= vote.isExpired %></p>
          </div>
        <% } %>
      <% } %>
    </div>
  </body>
  <script type="text/javascript">
    if ("<%= success %>" === "true") {
      location.href="/votings/success"
    }
  </script>
</html>
