<!DOCTYPE html>
<html>
  <head></head>
  <link rel="stylesheet" href="/stylesheets/vote.css" />
  <body>
    <div class="">
      <button onclick="location.href='/'">투표목록</button>
    </div>
    <div class="vote-container">
      <h1><%= vote.title %></h1>
      <p>투표 마감시간 : <%= vote.expiredTime %></p>
      <% if (vote.isExpired) { %>
        <h3>투표마감</h3>
      <% } else { %>
        <h3>투표 진행중</h3>
      <% } %> 
    </div>
    <div class="option-container">
      <form id="vote-form" action="/votings/<%= vote._id %>" onsubmit="return validate()" method="post">
        <% vote.options.forEach((option, index) => { %>
          <div class="option-content">
            <input
              type="radio"
              name="option"
              value="<%= [index, Object.keys(option)[0]] %>"
            />
            <% if (vote.isExpired === true || vote.creatorId === userId) { %>
              <div class="option-name"><%= Object.keys(option)[0] %></div>
              <div class="option-count"><%= option[Object.keys(option)[0]] %>표</div>
            <% } else { %> 
              <%= Object.keys(option)[0] %>
            <% } %>
            <br />
          </div>
        <% }) %>  
      </form>
    </div>
    <div class="bottom-container">
      <div>
        <button type="submit" form="vote-form">투표</button>
        <% if (vote.creatorId === userId) { %>
          <button onclick="remove()">삭제</button>
        <% } %>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    if (("<%= vote.isExpired %>") === "true") {
      document.getElementsByTagName("h3")[0].style.color = "red";

      for (const element of document.getElementsByName("option")) {
        element.disabled = true;
      }
    }

    function remove() {
      fetch("/votings/delete/<%= vote._id %>", {
        method: "DELETE" 
      })
      .then(() => {
        alert("투표를 삭제하셨습니다");
        location.href="/";
      })
      .catch(() => alert("다시 시도해주세요"));
    }

    function validate() {
      if (("<%= vote.isExpired %>") === "true") {
        alert("종료된 투표입니다");
        return false;
      }

      if (!"<%= userId %>") {
        alert("로그인 후에 이용가능합니다");
        location.href="/login";
        return false;
      }

      if ("<%= isVoted %>" === "true") {
        alert("이미 투표를 완료하셨습니다");
        return false;
      }

      for (const element of document.getElementsByName("option")) {
        if (element.checked) return true;
      }

      alert("투표할 항목을 선택하세요");
      return false;
    }
  </script>
</html>
